*{

	margin: 0;
	padding: 0;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.text-box{
   width: 90%;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
.text-box h1{
	margin: 10px 0 40px;
	font-size: 42px;

}
.hero-btn{

	direction: inline-block;
	text-decoration: none;
	color:#fff ;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}
@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
}
/*----------*/
.whatis{
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px;
}
h1{
	font-size: 30px;
	font-weight: 600;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.whatis-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
.whatis-col img{
	width: 100%;
	border-radius: 10px;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.whatis-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
   .row{
   	flex-direction: column;
   }

}
/*-----------------our latest work-----------------------*/
.latestWork{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 50px;

}
.latestWork-col{
	flex-basis: 32%;
	border-radius:10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.latestWork-col img{

	width: 80%;
	display: block;
}
.layer{
	background: transparent;
	height: 100%;
	width: 80%;
	position: absolute;
	top: 0;
	left: 0;
}
.layer:hover{
	background: rgba(226, 0, 0, 0.7);
}
.layer h3{
	width: 100%;
	font-weight: 500;
	color: #FFF;
	font-size: 26 px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover h3{
	bottom: 49%;
	opacity: 1;

}
/*--------------brand----------*/
.bandc{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.bandc-col{
  
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.bandc-col img{
	width: 80%;
	border-radius: 10px;
}
/*----------------footer------------------*/
.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
	background-position: center;
	background-size: cover;
	position: relative;
}
.footer h4{
	font-size: 25px;
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
